@media (max-width: 541px) {
    p {
        font-size: 22px;
        padding-bottom: 10px;
        padding-top: 50px;
    }
    a.nav-link {
        font-size: 20px;
    }
    h1 {
        width: max-content;
        font-size: 22px;
    }
    #psecao2 {
        font-size: 15px;
        font-weight: lighter;
    }
    #imgsecao2 {
        float: right;
        padding-top: 5%;
        width: 250px;
        height: 150px;
        margin-top: 60px;
        padding-left: 85px;
    }
    .section2 {
        height: 290px;
    }
}

@media(min-width:767px) {
    P {
        font-size: 40px;
        margin-top: 240px;
    }
    .navbar-toggler-icon {
        width: 3.5em;
        height: 3.5em;
    }
    #botaoresponsive {
        padding-inline-start: 150px;
        padding-top: 123px;
    }
    #imgsecao2 {
        width: 450px;
        height: 350px;
        margin-top: 80px;
    }
    #psecao2 {
        font-size: 25px;
        font-weight: lighter;
    }
    .section2 {
        height: 500px;
    }
}

@media(min-width:1100px) {
    P {
        font-size: 50px;
        margin-top: 9%;
    }
    #botaoresponsive {
        padding-inline-start: 100px;
    }
    #imgsecao2 {
        float: right;
        padding-top: 2%;
        width: 750px;
        height: 550px;
        margin-top: 150px;
    }
    .section2 {
        background-color: #6695B6;
        width: 100vw;
        height: 720px;
        padding: 0%;
    }
    #psecao2 {
        font-size: 35px;
        word-break: keep-all;
        color: black;
        padding-left: 10%;
        margin-top: 10%;
        font-weight: lighter;
    }
}