@media (max-width: 321px) {
    p {
        font-size: 30px;
        padding-bottom: 120px;
    }
}

@media (max-width: 415px) {
    p {
        font-size: 30px;
        padding-bottom: 250px;
    }
}

@media (max-width: 376px) {
    p {
        font-size: 30px;
        padding-bottom: 250px;
    }
}

@media (max-height: 506px) {
    p {
        font-size: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}