
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body{
    margin:0;
}

.section1{
    padding-right: 0;
    padding-left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(../Design/header.png);
    background-size: cover;
}

.section2{

}

.section3{

}

.footer{
    
}

.menu{
  font-size: 2em;
  font-family: 'Lexend Deca', sans-serif;
  padding-inline-start: 50px;
}

.nav-link{
    color: #0C4453;
}

#imglogo{
    padding-inline-start: 70px;
    padding-top: 3px;
    
}