@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
body {
    margin: 0;
    padding: 0%;
    overflow-x: hidden;
}

.section1 {
    padding-right: 0;
    padding-left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(../Design/header.png);
    background-size: cover;
    overflow: hidden;
    ;
}

.section2 {
    background-color: #6695B6;
    width: 100vw;
    height: 600px;
    padding: 0%;
}

.main-text {
    padding-left: 4%;
    font-weight: bold;
    padding-top: 2%;
}

.navlink {
    font-size: 20px;
}

h1 {
    padding-top: 10%;
    padding-left: 10%;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #134958;
    width: max-content;
}

#psecao2 {
    font-size: 50px;
    word-break: keep-all;
    color: black;
    padding-left: 10%;
    margin-top: 10%;
    font-weight: lighter;
}

#imgsecao2 {
    float: right;
    padding-top: 3%;
    width: 650px;
    height: 450px;
}

.section3 {}

.footer {}

#menu {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: normal;
    padding-top: 130px;
}

#botaoresponsive {
    padding-top: 100px;
    padding-inline-start: 30px;
    position: absolute;
}

.nav-link {
    color: #0C4453;
    font-size: 44px;
    align-self: auto;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: normal;
}

.nav-link:hover {
    color: #58CA74;
}

#imglogo {
    padding-inline-start: 50px;
    padding-top: 3px;
}

p {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 180px;
    font-size: 50px;
    color: #185D70;
    word-break: keep-all;
    text-align: left;
}

#logoresponsive {
    padding-top: 20px;
}